<!-- app/views/user_mailer/forgot_password.html.erb -->
<h1>Password Reset Code</h1>
<p>Hello <%= @user.email %>,</p>
<p>We received a request to reset your password. Use the following code to reset your password:</p>
<p><strong><%= @reset_code %></strong></p>
<p>If you didn't request a password reset, please ignore this email.</p>
